@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Great+Vibes&family=Josefin+Sans&family=League+Gothic&family=Manrope&family=Playfair:wght@300&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik&family=Sansita+Swashed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Great+Vibes&family=Josefin+Sans&family=League+Gothic&family=Manrope&family=Playfair:wght@300&family=Prompt:wght@300&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik&family=Sansita+Swashed&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background: black;
    color: #fff;
}
.sidebar{
    position: absolute;
    /* background-image:linear-gradient(to top right, #f43276, #0662f5); */
    background-color: #444647;
    font-family: 'Josefin Sans', sans-serif;
    height: 100vh;
    transition: transform 0.3s ease-in-out ;
    
} 

.sidebar a:hover{
    color: #2a2b2b;
    text-decoration: underline;
}
.sidebar a{
    font-size: 25px;
    font-weight: bold;
}
.sidebar nav{
    padding: 10px;
}
.sidebar nav li{
    list-style: none;
    font-size: 20px;
    padding: 50px;
}
.sidebar nav li a{
    text-decoration: none;
    color: black;
}

.main{
    width: 90vw;
}
.container{
    display: flex;
}

.infoContainer{
    display: flex;
    width: 65vw;
    height: 55vh;
    margin: 100px auto;
    justify-content: space-around;
}

.devInfo{
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Prompt', sans-serif;
}
.devPic img{
    background-image:linear-gradient(to right, #ed0cedcf, #306bd1c4);
    width:20em;
    height: 19em;
    border: 2px solid rgb(238, 8, 142);
    border-radius: 10rem;
    margin: auto;
}

.devPic{
    display: flex;
    align-items: center;
}

.hello{
    font-size:3em;
    font-family: 'Prompt', sans-serif;
}
.name{
    color: #7b7a7a;
    font-size: 3em;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
}
.about{
    font-size: 2.5em;
}
.moreabout{
    margin-top: 24px;
    font-size: 1.5em;
}
.buttons{
    margin-top: 2.2em;
    font-size: 6px;
}
.buttons :hover{
    color: #fff;
}
.buttons button{
    padding: 10px;
    margin: 30px 5px;
    border-radius: 2rem;
    border: 2px solid blueviolet;
    color: black;
    background-color: blueviolet;
    font-weight: bold;
    cursor: pointer;
}

.btn-sm:hover{
    color: white;
}

.btn-sm{
    border-radius: 25px;
    color: black;
    background-color: blueviolet;
    border: 2px solid blueviolet;
    font-weight: bold;
    cursor: pointer;
    font-size: 0.8rem;
    padding: 10px 15px;
    margin: 15px 0;
}
.contactform{
    font-family: 'Josefin Sans', sans-serif;
    padding: 0 34px;
    padding-top: 140px;
    margin: 0 90px;
    margin-left: 22rem;
}
.contactform h1{
    font-family: 'Prompt', sans-serif;
    padding: 15px 0;
}
.contactform form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.contactform form div input{
    width:25vw;
    border-radius: 6px;
    margin: 5px 0 0; 
    padding: 6px; 
}

#emailHelp{
    font-size: 10px;
    color: rgb(144, 148, 150);
    margin: 0 5px;
}

#form-check{
    flex-direction: row;    
}
#form-check input{
    width: 1rem;
    margin: 0 0.2rem;
}
div label{
    font-size: 1.2rem;
}

h1{
    font-family: 'Prompt', sans-serif;
    padding: 15px 0;
}

.intro{
    
    margin: 5rem 90px;
}
.one{
    background-image: url(bg3.avif);
    background-size: cover;
}
.header{
    background-image: url(bg.jpg);
    background-size: cover;
}
.pro{
    background-image: url(bg3.avif);
    background-size: cover;
}
.intro h2{
    text-align: center;
    background-color: #0efc7d;
    color: #2a2b2b;
    font-weight: bold;
    border-radius: 0.8rem;
    padding: 0.9rem;
    width:10rem;
    font-family: 'Josefin Sans', sans-serif;
    margin: 15px;
}
.proj h1{
    text-align: center;
    background-image:linear-gradient(to bottom right, rgb(248, 6, 244),rgb(5, 97, 246));
    background-color: #b10efc;
    color: black;
    font-weight: bold;
    border-radius: 0.8rem;
    padding: 1.2rem;
    width:100%;
}
.proj h2{
    text-align: center;
    background-color: #0efc7d;
    color: #2a2b2b;
    font-weight: bold;
    border-radius: 0.8rem;
    padding: 0.9rem;
    width:20rem;
}

.intro h1{
    font-family: 'Josefin Sans', sans-serif;
    margin: 15px;
    font-size: 2.3rem;
    margin-bottom: 3rem;
    text-decoration: underline;
}

.intro p{
    font-family: 'Josefin Sans', sans-serif;
    padding: 15px;
    margin-bottom: 2rem;
    font-weight: bold;
    color: #a7aaaa;
}

.skillcontainer{
    padding: 15px;
    color: #c8cbcb;
    font-weight: bold;
}
.skill{
    text-align: center;
    background-image:linear-gradient(to right, #e40efc, #6a05f7);
    border-radius: 2rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    width:6rem;
}

.sidebarGo{
    transform: translate(-444px, 0px);
    position: absolute;
}
.hamburger{
    position: absolute;
    cursor: pointer;
    top: 5px;
    left: 10px;
    margin-top: 5px;
}
.cross:hover{
    width: 18px;
}
.hamburger img{
    position: fixed;
    color:white
}
.ham:hover{
    width: 23px;
}
.cross{
    margin-left: 13rem;
    margin-top: 5px;
}

.footer{
    margin-top: 3.5rem;
    padding: 50px 15% 10px;
    border-top: 6px solid #333;
    color: #777;
}
.footer img{
    width: 2rem;
}
.footer h2{
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 30px;
}
.footer .col a{
    display: flex;
    padding: 2rem 2rem 2rem 2rem;
    justify-content: center;
    margin-bottom: 20px;
}
.git img{
    border-radius: 1rem;
}
#foot{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}


@media (max-width:1000px) {
    .devPic{
        display: none;
    }
    .contactform{
        padding: 0 34px;
        padding-top: 140px;
        margin: 0 90px;
    }
    .devInfo{
        font-size: 10px;
    }
    
}